[Desktop Entry]
Name=Micno with logo
X-KDE-PluginInfo-Name=Micno
X-KDE-PluginInfo-Author=TMP_tenpura
X-KDE-PluginInfo-Email=tmptenpura@gmail.com
X-KDE-PluginInfo-License=None
